version: '3.4'

services:
  mysql:
    build:
      context: "./mysql"
    volumes:
     - ./mysql/data/:/var/lib/mysql/
     - ./mysql/initdb.d:/docker-entrypoint-initdb.d
    environment:
      MYSQL_DATABASE: example
      MYSQL_ROOT_PASSWORD: root
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
     - 3306:3306
